.categories {
  padding: 1rem;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.category {
  margin-left: 0.4rem;
}
.categoryImg {
  margin-bottom: 0; /* Ensures no gap below the image */
  padding-bottom: 0;
  display: block; /* Prevents any extra spacing */
}
.categoryImg img {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 41vw;
  height: auto;
  object-fit: cover; /* Ensures the image scales properly */
}

.title {
  background-color: rgba(34, 81, 236, 0.904);
  text-align: center;
  color: white;
  font-size: 1rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  border-bottom-right-radius: 1rem;
  border-bottom-left-radius: 1rem;
  font-weight: bold;
  min-height: 5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

h2 {
  text-align: center;
}
@media screen and (min-width: 768px) {
  .categories {
    padding: 1 rem;
    margin-top: 1rem;
  }

  .grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(19rem, 1fr));
    column-gap: 1 rem;
  }

  .category {
    margin-left: 1rem;
  }

  .categoryImg img {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 30rem;
    height: auto;
    object-fit: contain; /* Ensures the image scales properly */
  }
}

@media screen and (min-width: 1025px) {
  .grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    column-gap: 2rem;
    margin-left: 1rem;
  }

  .category {
    margin-left: 10px;
  }

  .categoryImg img {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 2000px;
    height: auto;
    object-fit: contain; /* Ensures the image scales properly */
  }
}
