.grid {
  display: grid;
  grid-template-columns: 43vw 43vw;
  column-gap: 3vw;
  row-gap: 2vh;
  margin-left: 2vw;
}

.category {
  margin-left: 0.4rem;
}
.categoryImg {
  margin-bottom: 0; /* Ensures no gap below the image */
  padding-bottom: 0;
  display: block; /* Prevents any extra spacing */
}
.categoryImg img {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 41vw;
  height: auto;
  object-fit: cover; /* Ensures the image scales properly */
}

.title {
  background-color: rgba(34, 81, 236, 0.904);
  text-align: center;
  color: white;
  font-size: 1rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  border-bottom-right-radius: 1rem;
  border-bottom-left-radius: 1rem;
  font-weight: bold;
  min-height: 5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

h2 {
  text-align: center;
}
@media screen and (min-width: 768px) {
  .grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25vw, 0fr));
    margin-left: 2vw;
    column-gap: 1 vw;
  }

  .categoryImg img {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 24vw;
    height: auto;
    object-fit: contain; /* Ensures the image scales properly */
  }
}

@media screen and (min-width: 1025px) {
  .grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(21vw, 0fr));

    gap: 2vw;
    margin-left: 1rem;
  }

  .categoryImg img {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 21vw;
    height: auto;
    object-fit: contain; /* Ensures the image scales properly */
  }

  .categoryAlign {
    display: flex;
    gap: 36vw;
    max-width: 80vw;
  }
}
