.productCard {
  background-color: white;
  padding-bottom: 1rem;
  margin-left: 3vw;
  width: 45vw;
  line-height: 1.2;
}
h2 {
  text-align: center;
  margin-bottom: 1rem;
}
.product-container {
  display: grid;
  grid-template-columns: repeat(2, 45vw);
  gap: 1vw;
  overflow: hidden; /* Prevents manual scrolling */
  max-width: 95vw; /* Adjust width based on layout */
  margin-left: 2vw;
}

.rec {
  position: relative;
  margin-top: -3vh;
}
.button-container {
  position: absolute;
  bottom: 5vh;
  right: 5%;
  background-color: #e6effb;
  padding: 0 1vw;
  padding-top: 0.5vh;
  font-size: 2rem;
}

button:hover {
  background-color: #0056b3;
}

.product1 {
  position: relative;
  display: inline-block;
  border: 0.1rem solid rgb(245, 245, 245);

  border-radius: 1rem;
  margin-left: 0.1rem;
}

.productImage {
  height: 20vh;
  width: 40vw;
}

.badge1 {
  position: absolute;
  border: 1 thin;
  top: 1vh;
  left: 0rem;
  color: white;
  padding: 0.2rem;
  background-color: #ff7e27;
  font-size: 0.6rem;
}

.star {
  position: absolute;
  top: 1vh;
  right: 2vw;
  color: #1071ff;
  padding: 0.2rem 0.2rem;
  border-radius: 50%;
  background-color: #e6effb;
  font-size: 1rem;
}

.compare {
  position: absolute;
  top: 15vh;
  right: 2vw;
  height: 2.5vh;
  width: 3.4vw;
}

.share {
  position: absolute;
  top: 20vh;
  right: 2vw;
  color: #1071ff;
  font-size: 1.1rem;
}

.stock {
  color: green;
  font-size: 0.6rem;
  display: flex;
  padding: 0.1rem;
  font-weight: normal;
  margin-bottom: 0.1rem;
  margin-left: 0.1rem;
}
.noStock {
  color: red;
  font-weight: normal;
  font-size: 0.6rem;
  display: flex;
  padding: 0.1rem;
  margin-bottom: 0.1rem;
  margin-left: 0.1rem;
}
.tick {
  border-radius: 1rem;
  border: 0.1rem solid green;
  margin-right: 0.1rem;
  margin-left: 0.1rem;
}

.part {
  color: gray;
}

.price {
  color: #1071ff;
  text-align: left;
  font-size: 0.8rem;
  font-weight: bold;
}
.dollars {
  font-size: 1.4rem;
}

.cut {
  text-decoration: line-through;
  color: #ff7e27;
  display: block;
  font-weight: normal;
}

.quantity {
  display: flex;
}
.btn {
  font-size: 1rem;
  padding: 1rem;
  background-color: white;
  border: 0.1rem solid rgb(221, 218, 218);
  border-radius: 0.5rem;
  margin: 0.1rem;
}
.select-container {
  margin-left: 1vw;
  position: relative;
  display: flex;
  gap: 2rem;
  align-items: center;
  border: 0.1rem solid rgb(221, 218, 218);
  border-radius: 5px;
  padding-right: 1rem;
}

.item {
  font-size: 1rem;
  width: 5vw;
  background-color: white;
  color: black;
  font-weight: normal;
  margin-left: 3vw;
}

.icon {
  color: #1071ff;
}

.addCart {
  font-size: 1rem;
  text-align: center;
  padding: 0.8rem;
  margin: 0.2rem;
  background-color: #1071ff;
  color: white;
  border-radius: 200px;
  width: 95%;
  border: rgba(34, 81, 236, 0.904);
}

.down {
  position: absolute;
}

.name {
  margin-top: 0;
  color: black;
  min-height: 5vh;
  font-size: 0.8rem;
  font-family: "BasierCircle";
}

.description {
  padding-left: 2vw;
  color: gray;
  text-align: left;
  font-size: 0.8rem;
}

h3 {
  text-align: left;
}

.desktop-only {
  display: none;
}

.rec {
  display: flex;
  flex-direction: column;
}

.product-container {
  order: 2;
}
.showBig {
  order: 3;
}
.cartAdded {
  background-color: #e6effb;
  border-bottom-right-radius: 0.5rem;
  border-bottom-left-radius: 0.5rem;
  padding-left: 5vw;
}

@media screen and (min-width: 768px) {
  .product-container {
    display: grid;
    grid-template-columns: repeat(2, 42vw);
    gap: 5vw;

    max-width: 95vw; /* Adjust width based on layout */
    margin-left: 2vw;
  }

  .product1 {
    width: 42vw;

    border: 2px solid rgb(245, 245, 245);
    border-radius: 1rem;
  }

  .addCart {
    font-size: 1.8rem;
    text-align: center;
    padding: 0.8rem;
    margin: 0.2rem;
    background-color: #1071ff;
    color: white;
    border-radius: 200px;
    width: 95%;
    border: rgba(34, 81, 236, 0.904);
  }

  .name {
    color: black;
    min-height: 7rem;
    font-size: 1.5rem;
  }

  .badge1 {
    position: absolute;
    border: 1 thin;
    top: 1vh;
    left: 0rem;
    color: white;
    padding: 0.2rem;
    background-color: #ff7e27;
    font-size: 1.2rem;
  }

  .star {
    position: absolute;
    top: 1vh;
    right: 2vw;
    color: #1071ff;
    padding: 0.2rem 0.2rem;
    border-radius: 50%;
    background-color: #e6effb;
    font-size: 2rem;
  }

  .compare {
    position: absolute;
    top: 15vh;
    right: 2vw;
    width: 4vw;
  }

  .share {
    position: absolute;
    top: 20vh;
    right: 2vw;
    color: #1071ff;
    font-size: 2rem;
  }

  .stock {
    color: green;
    font-size: 1.2rem;
    display: flex;
    padding: 0.1rem;
    font-weight: normal;
    margin-bottom: 0.1rem;
    margin-left: 2vw;
  }
  .noStock {
    color: red;
    font-weight: normal;
    font-size: 1.2rem;
    display: flex;
    padding: 0.1rem;
    margin-bottom: 0.1rem;
    margin-left: 2vw;
  }
  .tick {
    border-radius: 1rem;
    border: 0.1rem solid green;
    margin-right: 0.1rem;
    margin-left: 0.1rem;
  }

  .dollars {
    font-size: 2rem;
  }

  .cut {
    font-size: 1.5rem;
  }

  .description {
    color: gray;
    text-align: left;
    font-size: 1rem;
    padding-left: 2vw;
  }

  .price {
    font-size: 1.5rem;
    padding-left: 2vw;
  }

  .btn {
    font-size: 1.5rem;
    padding: 1rem;
    background-color: white;
    border: 0.1rem solid rgb(221, 218, 218);
    border-radius: 0.5rem;
    margin: 0.1rem;
    width: 12vw;
    margin-left: 2vw;
  }
  .select-container {
    margin-left: 1vw;
    position: relative;
    display: flex;
    gap: 2rem;
    font-size: 2rem;
    align-items: center;
    border: 0.1rem solid rgb(221, 218, 218);
    border-radius: 5px;
    padding-right: 1rem;
  }

  .item {
    font-size: 1.5rem;
    width: 10vw;
    background-color: white;
    color: black;
    font-weight: normal;
    margin-left: 3vw;
  }

  .rec {
    position: relative;
    margin-top: -3vh;
  }
  .button-container {
    position: absolute;
    bottom: 5vh;
    right: 5%;
  }
  .desktop-only {
    display: block;
    color: rgb(61, 60, 60);
    text-align: left;
    font-size: 1.5rem;
    margin-top: 0.5rem;
    padding-left: 2vw;
    font-family: "BasierSquare";
  }

  .cartAdded {
    background-color: #e6effb;
    border-bottom-right-radius: 1rem;
    border-bottom-left-radius: 1rem;
    font-size: 2rem;
    padding-left: 4vw;
  }
}

@media screen and (min-width: 1025px) {
  .product-container {
    display: grid;
    grid-template-columns: repeat(4, 20vw);
    gap: 3vw;
    overflow: hidden; /* Prevents manual scrolling */
    max-width: 95vw; /* Adjust width based on layout */
    margin-left: -2vw;
  }
  .productCard {
    margin-top: 2vh;
    width: 20vw;
  }

  .product1 {
    width: 20vw;
    height: auto;
  }
  .productDescription {
    padding: 1vw;
  }

  .rec {
    position: relative;
  }
  .button-container {
    position: absolute;
    bottom: 42vh;
    right: 8%;

    padding: 0 0.5vw;
    padding-top: 1vh;
    font-size: 2rem;
    background-color: #e6effb;
  }

  .productImage {
    height: 35vh;
    width: 20vw;
  }

  .badge1 {
    position: absolute;
    border: 1 thin;
    top: 4vh;
    left: 0;
    color: white;
    padding: 0.2rem;
    background-color: #ff7e27;
    font-size: 1vw;
  }

  .star {
    position: absolute;
    top: 4vh;
    right: 1vw;
    color: #1071ff;
    padding: 0.4rem 0.2rem;
    border-radius: 50%;
    background-color: #e6effb;
    font-size: 1.5vw;
  }

  .compare {
    position: absolute;
    height: 3vh;
    top: 27vh;
    right: 1vw;
    width: 1.3vw;
  }

  .share {
    position: absolute;
    font-size: 1.5vw;
    top: 31vh;
    right: 1vw;
    color: #1071ff;
  }

  .stock {
    color: green;
    font-size: 1vw;
    font-weight: normal;
    position: absolute;
    top: 31vh;
    margin-left: 0.5vw;

    padding: 0vh 1vw;
    border: 1px solid rgb(238, 238, 238);
  }
  .noStock {
    color: red;
    font-size: 1vw;
    font-weight: normal;
    display: flex;
    padding: 0.1rem;
    margin-bottom: 0vh;
    margin-left: 0;
  }

  .tick {
    border-radius: 1rem;
    border: 0.1rem solid green;
    margin-right: 0.2vw;
    margin-left: -0.5vw;

    margin-top: 0.5vh;
  }
  .exclamation {
    margin-right: 0.2vw;
    margin-left: -0.5vw;

    margin-top: 0.5vh;
  }

  .price {
    color: #1071ff;
    text-align: left;
    font-size: 1vw;
    padding-left: 0;
    margin-top: 2vh;
  }
  .dollars {
    font-size: 1.6vw;
  }

  .cut {
    text-decoration: line-through;
    color: orange;
    display: inline;
    font-size: 1vw;
  }

  .quantity {
    display: flex;
    padding: 0 1rem;
  }
  .btn {
    font-size: 1vw;
    width: 15vw;
    padding: 1.5rem;
    background-color: white;
    border: 0.1rem solid rgb(216, 215, 215);
    border-radius: 0.5rem;
    margin-left: 0;
  }
  .select-container {
    margin-left: 0.5vw;
    position: relative;
    display: flex;
    gap: 0rem;
    align-items: center;
    border: 0.1rem solid rgb(218, 218, 218);
    border-radius: 5px;
    padding-right: 1rem;
  }

  .item {
    font-size: 1vw;
    width: 10vw;
    background-color: white;
    color: black;
    font-weight: normal;
    margin: 0.1rem;
    padding-left: 1vw;
  }

  .icon {
    color: #1071ff;
    font-size: 1.2vw;
  }

  .addCart {
    font-size: 1.4vw;
    text-align: center;
    padding: 2vh 4vw;
    margin: 1vh 0.5vw;

    background-color: #1071ff;
    color: white;
    border-radius: 200px;
    width: 19vw;
    border: #1071ff;
  }

  .down {
    position: absolute;
  }

  .name {
    margin-top: 1vh;
    font-size: 1.4vw;
    color: black;
    padding: 0vh 0vw;
    font-weight: bolder;
    min-height: 8vh;
    padding-right: 2vw;
  }

  .description {
    color: gray;
    font-weight: normal;
    text-align: left;
    font-size: 1vw;
    padding-left: 0;
  }
  .desktop-only {
    display: block;
    color: rgb(61, 60, 60);
    text-align: left;
    font-size: 1vw;
    line-height: 1.8;
    font-weight: bold;
    padding-left: 0;
    font-family: "BasierSquare";
  }

  h3 {
    text-align: left;
  }
  .productsAlign {
    display: flex;
    gap: 50vw;
    max-width: 90vw;
  }
  .cartAdded {
    background-color: #e6effb;
    font-size: 1vw;
    display: inline-flex;
    gap: 0.5vw;
    align-items: center;
    justify-content: center;
    justify-self: center;
    font-weight: normal;
    width: 20vw;
    height: 7vh;
    color: #1071ff;
    padding-right: 5vw;
  }
  .showBig {
    max-width: 10vw;
  }
}
