.recommend {
  background-color: white;
  padding-bottom: 1rem;
  margin-left: 5vw;
}
h2 {
  text-align: center;
  margin-bottom: 1rem;
}
.product-container {
  display: grid;
  grid-template-columns: repeat(2, 45vw);
  gap: 2vw;
  overflow: hidden; /* Prevents manual scrolling */
  max-width: 95vw; /* Adjust width based on layout */
  margin-left: 2vw;
}

.rec {
  position: relative;
}
.button-container {
  margin-top: 11vh;
  position: absolute;
  top: 87vh;
  right: 10vw;
  display: flex;
  justify-content: center;
  gap: 10px;
}

button:hover {
  background-color: #0056b3;
}

.product1 {
  position: relative;
  display: inline-block;
  border: 0.1rem solid rgb(245, 245, 245);
  border-radius: 1rem;
  margin-left: 0.1rem;
}

.productImage {
  height: 25vh;
  width: 40vw;
}

.badge1 {
  position: absolute;
  border: 1 thin;
  top: 1rem;
  left: 0rem;
  color: white;
  padding: 0.2rem;
  background-color: rgb(253, 109, 56);
  font-size: 1rem;
}

.star {
  position: absolute;
  top: 2vh;
  right: 1rem;
  color: #1071ff;
  padding: 0.2rem 0.2rem;
  border-radius: 50%;
  background-color: #e6effb;
  font-size: 1.3rem;
}

.compare {
  position: absolute;
  top: 20vh;
  right: 1rem;
}

.share {
  position: absolute;
  top: 25vh;
  right: 1rem;
  color: #1071ff;
}

.stock {
  color: green;
  font-size: 0.6rem;
  display: flex;
  padding: 0.1rem;
  font-weight: normal;
  margin-bottom: 0.1rem;
  margin-left: 0.1rem;
}
.noStock {
  color: red;
  font-weight: normal;
  font-size: 0.6rem;
  display: flex;
  padding: 0.1rem;
  margin-bottom: 0.1rem;
  margin-left: 0.1rem;
}
.tick {
  border-radius: 1rem;
  border: 0.1rem solid green;
  margin-right: 0.1rem;
  margin-left: 0.1rem;
}

.part {
  color: gray;
}

.price {
  color: #1071ff;
  text-align: left;
}
.dollars {
  font-size: 2rem;
}

.cut {
  text-decoration: line-through;
  color: orange;
}

.quantity {
  display: flex;
}
.btn {
  font-size: 1rem;
  padding: 1rem;
  background-color: white;
  border: 0.1rem solid rgb(97, 94, 94);
  border-radius: 0.5rem;
  margin: 0.1rem;
}
.select-container {
  position: relative;
  display: flex;
  gap: 2rem;
  align-items: center;
  border: 0.1rem solid rgb(97, 94, 94);
  border-radius: 5px;
  padding-right: 1rem;
}

.item {
  font-size: 1rem;
  width: 3rem;
  background-color: white;
  color: black;
  font-weight: normal;
  margin: 0.1rem;
}

.icon {
  color: #1071ff;
}

.addCart {
  font-size: 1rem;
  text-align: center;
  padding: 0.8rem;
  margin: 0.2rem;
  background-color: #1071ff;
  color: white;
  border-radius: 200px;
  width: 90%;
  border: rgba(34, 81, 236, 0.904);
}

.down {
  position: absolute;
}

.name {
  color: black;
  min-height: 4rem;
  font-size: 1rem;
}

.description {
  color: gray;
  text-align: left;
}

h3 {
  text-align: left;
}

.desktop-only {
  display: none;
}

.rec {
  display: flex;
  flex-direction: column;
}

.product-container {
  order: 2;
}
.showBig {
  order: 3;
}
.cartAdded {
  background-color: #e6effb;
}

@media screen and (min-width: 768px) {
  .product-container {
    display: grid;
    grid-template-columns: repeat(2, 42vw);
    gap: 5vw;

    max-width: 95vw; /* Adjust width based on layout */
    margin-left: 2vw;
  }

  .product1 {
    width: 42vw;

    border: 2px solid rgb(245, 245, 245);
    border-radius: 1rem;
  }

  .addCart {
    font-size: 1rem;
    padding: 0.8rem;
  }

  .btn,
  .item {
    font-size: 1rem;
    padding: 1rem;
  }
  .name {
    color: black;
    min-height: 7rem;
  }

  .dollars {
    font-size: 2rem;
  }

  .cut {
    font-size: 1rem;
  }

  .desktop-only {
    display: block;
    color: rgb(61, 60, 60);
    text-align: left;
    font-size: 1rem;
    margin-top: 0.5rem;
    font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  }
}

@media screen and (min-width: 1025px) {
  .recommend {
    margin-left: 2vw;
    width: 99vw;
    background-color: white;
    padding-bottom: 1rem;
  }
  .product-container {
    display: grid;
    grid-template-columns: repeat(4, 19vw);
    gap: 3vw;
    overflow: hidden; /* Prevents manual scrolling */
    max-width: 95vw; /* Adjust width based on layout */
  }

  .product1 {
    width: 17vw;
    height: auto;
    padding: 1rem;
  }

  .rec {
    position: relative;
  }
  .button-container {
    position: absolute;
    top: 40vh;
    right: 5vw;
    display: flex;
    justify-content: center;
    gap: 10px;
  }
  .iconsssss {
    background-color: #e6effb;
    font-size: 2.5rem;
    padding: 0.5vh;

    color: black;
    border: none;
    cursor: pointer;
    border-radius: 5px;
  }

  .productImage {
    height: 30vh;
    width: 16vw;
  }
  .product1 {
    position: relative;
    display: inline-block;
    border: 0.1rem solid rgb(245, 245, 245);
    border-radius: 1rem;
  }

  .badge1 {
    position: absolute;
    border: 1 thin;
    top: 4vh;
    left: 0rem;
    color: white;
    padding: 0.2rem;
    background-color: #ff7e27;
    font-size: 1rem;
  }

  .star {
    position: absolute;
    top: 3rem;
    right: 1rem;
    color: #1071ff;
    padding: 0.2rem 0.2rem;
    border-radius: 50%;
    background-color: #e6effb;
    font-size: 2rem;
  }

  .compare {
    position: absolute;
    height: 3vh;
    top: 21vh;
    right: 1rem;
  }

  .share {
    position: absolute;
    font-size: 2rem;
    top: 26vh;
    right: 1rem;
    color: #1071ff;
  }

  .stock {
    color: green;
    font-size: 1rem;
    font-weight: normal;
    display: flex;
    padding: 0.1rem;
    margin-bottom: 2vh;
    margin-left: 0.1rem;
  }
  .noStock {
    color: red;
    font-size: 1rem;
    font-weight: normal;
    display: flex;
    padding: 0.1rem;
    margin-bottom: 0vh;
    margin-left: 0.1rem;
  }

  .tick {
    border-radius: 1rem;
    border: 0.1rem solid green;
    margin-right: 0.1rem;
    margin-left: 0.1rem;
  }

  .part {
    color: gray;
  }

  .price {
    color: #1071ff;
    text-align: left;
  }
  .dollars {
    font-size: 2rem;
  }

  .cut {
    text-decoration: line-through;
    color: #ff7e27;
  }

  .quantity {
    display: flex;
  }
  .btn {
    font-size: 1rem;
    width: 7vw;
    padding: 1rem;
    background-color: white;
    border: 0.1rem solid rgb(97, 94, 94);
    border-radius: 0.5rem;
    margin: 0.2rem;
  }
  .select-container {
    position: relative;
    display: flex;
    gap: 2rem;
    align-items: center;
    border: 0.1rem solid rgb(97, 94, 94);
    border-radius: 5px;
    padding-right: 1rem;
  }

  .item {
    font-size: 1rem;
    width: 8vw;
    background-color: white;
    color: black;
    font-weight: normal;
    margin: 0.1rem;
  }

  .icon {
    color: #1071ff;
  }

  .addCart {
    font-size: 1rem;
    text-align: center;
    padding: 0.8rem;

    background-color: #1071ff;
    color: white;
    border-radius: 200px;
    width: 15vw;
    border: #1071ff;
  }

  .down {
    position: absolute;
  }

  .name {
    font-size: 1.6rem;
    color: black;
    min-height: 13.5vh;
  }

  .description {
    color: gray;
    font-weight: normal;
    text-align: left;
  }
  .desktop-only {
    display: block;
    color: rgb(61, 60, 60);
    text-align: left;
    font-size: 1rem;
    font-weight: normal;
    margin-top: 0.5rem;
    font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  }

  h3 {
    text-align: left;
  }
  .productsAlign {
    display: flex;
    gap: 36vw;
    max-width: 80vw;
  }
  .cartAdded {
    background-color: #e6effb;

    display: inline-flex;
    gap: 0.5vw;
    align-items: center;
    justify-content: center;
    justify-self: center;
    font-weight: normal;
    width: 15vw;
    height: 5vh;
  }
}
