.headNav {
  margin-left: -3vw;
  width: 99vw;
}

.laptopNavLogo {
  display: flex;
  justify-content: left;
  height: 3.5vh;
  margin-left: 4vw;
}

.search-containers {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 40vw;

  border: 0.1rem solid rgb(235, 235, 235);
  border-radius: 0.5rem;
}
input {
  width: 100%;
  padding: 1vh 3vw;
  border: 0.1rem solid white;
  border-radius: 5px;
  font-size: 0.8rem;
}
.search-icons {
  position: absolute;
  left: 30vw;
  font-size: 1.5rem;
  color: #1071ff;
}
.quickOrder {
  background-color: #1071ff;
  padding: 0.6rem;
  color: white;
  border-radius: 2rem;
  margin: 0.6rem;
  border: #1071ff;
  font-size: 1.2rem;
  padding: 2vh 2vw;
  margin-right: 8vw;
}
.searchItem {
  font-size: 1.5rem;
  text-align: left;
}
/* css fro nav ends here  */

/* remaining css for headers like bottom nav,*/
.bigGrid {
  margin-left: -3vw;
  width: 99vw;
  display: flex;

  gap: 22vw;

  position: relative;
  background-color: #f6f8fb;
  padding: 1.5rem;
}

.navTitles {
  margin-left: 2vw;
  display: flex;
  gap: 1vw;
}
.navNoOptions {
  margin-top: 1vh;
  font-weight: bold;
  font-size: 1.5rem;
}

.navDrop {
  display: flex;
  flex-direction: row;
  margin-top: 0.5vh;
}
.optionsDrop {
  margin-top: 0.5vh;
  font-size: 1.2rem;
  margin-right: 0.3vw;
}

.optionsGrid {
  display: flex;
  position: relative;
  gap: 4vw;
}

.comp img {
  display: flex;
  margin-left: 3vw;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 1.2vw;
  height: auto;
  min-height: 1vh;
  object-fit: contain; /* Ensures the image scales properly */
}

.navStar {
  display: flex;
  margin-left: 3.5vw;
  margin-top: -1vh;
  font-size: 1.5rem;
  align-items: center;
  justify-content: center;
  height: 4vh;
  color: #1071ff;
}

.navCart {
  height: 4vh;
  margin-top: -1vh;
  font-size: 1.5rem;
  position: relative;
  margin-left: 2vw;
  color: #1071ff;
}
.topics {
  position: absolute;

  top: 3.2rem;
  color: #1071ff;
  display: flex;

  align-items: center;
  justify-content: center;
  justify-items: center;
  text-align: center;
  margin-left: 1.5vw;
  margin-top: -2vh;
  font-weight: bold;
  font-size: 1.2rem;
}

.topicss {
  font-size: 1rem;
  color: #1071ff;
  display: flex;
  align-items: let;
  justify-content: left;
  justify-items: left;
  text-align: left;
  margin-top: 1vh;
}

.compareValue {
  margin-left: 3.8vw;
  color: white;
  position: relative;
  padding: 0.1rem 0.2rem;
  border-radius: 50%;
  background-color: #ff4e00;
  font-size: 0.8rem;
  align-self: center;
  font-weight: bold;
  top: -4vh;
}

.starValue {
  position: relative;
  top: -4vh;
  margin-left: 4vw;
  color: white;
  padding: 0.1rem 0.2rem;
  border-radius: 50%;
  background-color: #ff4e00;
  font-size: 0.8rem;
  font-weight: bold;
}

.cartValue {
  position: absolute;
  top: -1vh;
  right: 1.9vw;
  margin-left: 3vw;
  color: white;
  padding: 0.1rem 0.2rem;
  border-radius: 50%;
  background-color: #ff4e00;
  font-size: 0.8rem;
  font-weight: bold;
  align-self: center;
}

/* from here the css for right corner of top nav starts i.e. user values  */
.userTitles {
  display: flex;
  gap: 1vw;
}

.bigGridd {
  margin-left: -3.5vw;
  display: flex;
  background-color: #f6f8fb;
  max-width: 98vw;
  gap: 26vw;
  padding: 0.6rem;
  position: relative;
}

.navTitless {
  margin-left: 5vw;
  display: flex;
  font-size: 1.3rem;
  gap: 1vw;
}

.distributer {
  font-size: 1.5rem;
}
.number {
  color: #1071ff;
  margin-top: 0vh;
  font-size: 1.4rem;
  font-weight: bold;
}
.messages {
  font-size: 2rem;
}
.userIconAlign {
  display: flex;
  gap: 0.5vw;
  font-size: 1.6rem;
}

.user {
  margin-top: 0.1vh;
  font-size: 1.8rem;
}
.messageValue {
  position: absolute;
  top: 0vh;
  color: white;
  padding: 0.1rem 0.2rem;
  border-radius: 50%;
  background-color: #ff7e27;
  font-size: 0.8rem;
  font-weight: bold;
  margin-left: 0.5vw;
}
