.headNav {
  margin-left: -3vw;
  width: 99vw;
}

.logo {
  display: flex;
  justify-content: left;
  height: 3.5vh;
  margin-left: 4vw;
}

.search-containers {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 30vw;

  border: 0.1rem solid rgb(235, 235, 235);
  border-radius: 0.5rem;
}
.search-icons {
  position: absolute;
  left: 35.5vw;
  font-size: 1rem;
  color: #1071ff;
}
.quickOrder {
  background-color: #1071ff;
  padding: 0.6rem;
  color: white;
  border-radius: 2rem;
  margin: 0.6rem;
  border: #1071ff;
  font-size: 1.2rem;
  padding: 1vh 1vw;
  margin-right: 6vw;
}
/* css fro nav ends here  */

/* remaining css for headers like bottom nav,*/
.bigGrid {
  margin-left: -3vw;
  width: 99vw;
  display: flex;

  gap: 23vw;

  position: relative;
  background-color: #f6f8fb;
  padding: 1.5rem;
}

.navTitles {
  margin-left: 2vw;
  display: flex;
  gap: 1vw;
}
.navNoOptions {
  margin-top: 1vh;
  font-weight: bold;
}

.navDrop {
  display: flex;
  flex-direction: row;
}
.optionsDrop {
  margin-top: 1vh;
  font-size: 1.2rem;
  margin-right: 0.3vw;
}

.optionsGrid {
  display: flex;
  position: relative;
  gap: 6vw;
}

.comp img {
  display: flex;
  margin-left: 3vw;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 1vw;
  height: auto;
  min-height: 1vh;
  object-fit: contain; /* Ensures the image scales properly */
}

.navStar {
  display: flex;
  margin-left: 3.5vw;

  align-items: center;
  justify-content: center;
  height: 4vh;
  color: #1071ff;
}

.navCart {
  height: 4vh;
  position: relative;
  margin-left: 2vw;
  color: #1071ff;
}
.topics {
  position: absolute;

  top: 3rem;
  color: #1071ff;
  display: flex;

  align-items: center;
  justify-content: center;
  justify-items: center;
  text-align: center;
  margin-left: 1.5vw;
  margin-top: -2vh;
  font-weight: bold;
  font-size: 0.9rem;
}

.topicss {
  font-size: 0.6rem;
  color: #1071ff;
  display: flex;
  align-items: let;
  justify-content: left;
  justify-items: left;
  text-align: left;
  margin-top: 1vh;
}

.compareValue {
  margin-left: 3.5vw;
  color: white;
  position: relative;
  padding: 0.1rem 0.2rem;
  border-radius: 50%;
  background-color: #ff4e00;
  font-size: 0.6rem;
  align-self: center;
  font-weight: bold;
  top: -3vh;
}

.starValue {
  position: relative;
  top: -4vh;
  margin-left: 4vw;
  color: white;
  padding: 0.1rem 0.2rem;
  border-radius: 50%;
  background-color: #ff4e00;
  font-size: 0.6rem;
  font-weight: bold;
}

.cartValue {
  position: absolute;
  top: 0vh;
  right: 0.7vw;
  margin-left: 3vw;
  color: white;
  padding: 0.1rem 0.2rem;
  border-radius: 50%;
  background-color: #ff4e00;
  font-size: 0.6rem;
  font-weight: bold;
  align-self: center;
}

/* from here the css for right corner of top nav starts i.e. user values  */
.userTitles {
  display: flex;
  gap: 1vw;
}

.bigGridd {
  margin-left: -3vw;
  display: flex;
  background-color: #f6f8fb;
  max-width: 98vw;
  gap: 30vw;
  padding: 0.6rem;
  position: relative;
}

.navTitless {
  margin-left: 5vw;
  display: flex;
  gap: 3vw;
}

.number {
  color: #1071ff;
  margin-top: 0.5vh;
  font-size: 1.2rem;
}
.messages {
  margin-right: 0.5vw;
  font-size: 1.4rem;
}

.userName {
  font-size: 1.2rem;
}
.msg {
  position: absolute;
  top: 1vh;
}
.messageValue {
  position: absolute;
  top: 0vh;
  color: white;
  padding: 0.1rem 0.2rem;
  border-radius: 50%;
  background-color: #ff7e27;
  font-size: 0.7rem;
  font-weight: bold;
  margin-left: 0.5vw;
}
