.bigGrid {
  display: grid;
  grid-template-columns: 50vw 20vw;
  gap: 20vw;
  margin-top: 20px;
  position: relative;
  background-color: rgb(231, 241, 250);
  padding: 30px;
}

.navTitles {
  display: grid;
  grid-template-columns: repeat(4, 300px); /* 7 columns */
  gap: 5px; /* space between grid items */
}

.navDrop {
  display: flex;
  flex-direction: row;
}

.icon {
  margin-top: 2px;
}

.optionsGrid {
  display: grid;
  grid-template-columns: 90px 90px 170px;

  gap: 40px;
}

.comp img {
  position: absolute;
  right: 16vw;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 20px;
  height: auto;
  object-fit: contain; /* Ensures the image scales properly */
}

.navStar {
  position: absolute;
  right: 10vw;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 20px;
  color: rgba(34, 81, 236, 0.904);
}

.navCart {
  position: absolute;
  right: 5vw;
  height: 20px;
  color: rgba(34, 81, 236, 0.904);
}
.topics {
  position: absolute;
  top: 47px;
  color: rgba(34, 81, 236, 0.904);
  display: flex;
  align-items: center;
  justify-content: center;
  justify-items: center;
  text-align: center;
  margin-right: 20px;
  font-weight: bold;
}

.topicss {
  position: absolute;
  top: 65px;
  right: 1vw;
  color: rgba(34, 81, 236, 0.904);
  display: flex;
  align-items: center;
  justify-content: center;
  justify-items: center;
  text-align: center;
  margin-right: 20px;
}

.compareValue {
  position: absolute;
  top: 15px;
  right: 334px;
  color: white;
  padding: 3px 3px;
  border-radius: 50%;
  background-color: orangered;
  font-size: 12px;
  font-weight: bold;
}

.starValue {
  position: absolute;
  top: 15px;
  right: 205px;
  color: white;
  padding: 3px 3px;
  border-radius: 50%;
  background-color: orangered;
  font-size: 12px;
  font-weight: bold;
}

.cartValue {
  position: absolute;
  top: 15px;
  right: 96px;
  color: white;
  padding: 3px 3px;
  border-radius: 50%;
  background-color: orangered;
  font-size: 12px;
  font-weight: bold;
}
