.sameBorder {
  border-top: 0.1rem solid gray;
  border-bottom: 0.1rem solid gray;
  padding: 1rem;
  width: 100%;
}

.drop {
  display: flex;
  justify-content: space-between;
  gap: 60vw;
  align-items: center;
  padding: 0.1rem;
  font-size: 1rem;
  cursor: pointer;
}

.items ul {
  list-style: none;
  padding: 0;
}

.items li {
  white-space: normal;
  overflow: visible;
}

.drop h4.active {
  color: rgba(34, 81, 236, 0.904);
}

@media screen and (min-width: 768px) {
  .drop {
    display: flex;
    justify-content: space-between;
    gap: 20vw;
    align-items: center;
    padding: 1rem;
    font-size: 1rem;
    cursor: pointer;
  }
}

@media screen and (min-width: 1025px) {
  .lapDrops {
    display: grid;
    grid-template-columns: repeat(4, 10vw);
    gap: 5vw;
    margin-left: 3vw;
    font-size: 1rem;
    white-space: normal;
  }

  h4 {
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
    white-space: normal;
  }
}
