@media screen and (min-width: 1025px) {
  .signDrop {
    display: grid;
    grid-template-columns: 15vw 50vw;
    width: 90vw;
    gap: 15vw;
    margin-left: 0vw;
  }

  .allFoot {
    background-color: #f6f8fb;
    margin-left: -2vw;
  }
}

@media screen and (min-width: 768px) {
  .signDrop {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
  }
}

.allFoot {
  background-color: #f6f8fb;
}
