@media screen and (min-width: 1025px) {
  .signDrop {
    display: grid;
    grid-template-columns: 40vw 50vw;
    gap: 10vw;
  }
}

@media screen and (min-width: 768px) {
  .signDrop {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
  }
}
