.social {
  display: flex;
  font-size: 1.8rem;
  margin: 1rem;
  gap: 1rem;
  justify-content: center;
  align-items: center;
  padding-left: 5vw;
}

.fb {
  border-radius: 1rem;
  background-color: black;
  color: white;
  padding: 0.2rem;
}
.insta {
  border-radius: 1rem;
  background-color: black;
  color: white;
  padding: 0.3rem;
}
.yt {
  border-radius: 1rem;
  background-color: black;
  color: white;
  padding: 0.3rem;
}

.logo1 {
  display: flex;
  justify-content: center;
  align-self: center;

  padding-left: 5vw;
  font-size: 1rem;
}

.copyright {
  padding-left: 5vw;
  text-align: center;
  margin-top: 7vh;
}
@media screen and (min-width: 768px) {
  .foot {
    display: flex;
    flex-direction: row;
    width: 100vw;

    border-top: 0.1rem solid rgb(226, 226, 226);
    padding-top: 2vh;
  }

  .copyright {
    flex: 1;
    order: 1;
    text-align: left;
    font-size: 1rem;
    color: grey;

    margin-bottom: 1rem;
  }

  .logo1 {
    order: 3;
  }
  .logo1 img {
    margin-top: 1rem;
    padding: 0.2rem;
  }
  .social {
    order: 2;
    margin-top: 2vh;
    padding: 0.2rem;
  }
}
@media screen and (min-width: 1025px) {
  .foot {
    display: flex;
    flex-direction: row;
    width: 90vw;

    border-top: 0.1rem solid rgb(226, 226, 226);
    padding-top: 2vh;
  }

  .copyright {
    flex: 1;
    order: 1;
    text-align: left;
    font-size: 1rem;
    color: grey;

    padding-left: 5vw;
    margin-bottom: 1rem;
  }

  .logo1 {
    order: 3;
    padding-right: 6vw;
  }
  .logo1 img {
    margin-top: 1rem;
    padding: 0.2rem;
  }
  .social {
    order: 2;
    margin-top: 2vh;
    padding: 0.2rem;
  }
}
