.social {
  display: flex;
  font-size: 2rem;
  margin: 1rem;
  gap: 1rem;
  justify-content: center;
  align-items: center;
  margin-left: 20vw;
}

.fb {
  border-radius: 1rem;
  background-color: black;
  color: white;
  padding: 0.2rem;
}
.insta {
  border-radius: 1rem;
  background-color: black;
  color: white;
  padding: 0.3rem;
}
.yt {
  border-radius: 1rem;
  background-color: black;
  color: white;
  padding: 0.3rem;
}

.logo {
  display: flex;
  justify-content: center;
  align-self: center;

  font-size: 1rem;
}

.copyright {
  margin-left: 20vw;
  text-align: center;
  margin-top: 1rem;
}
@media screen and (min-width: 768px) {
  .foot {
    display: flex;
    flex-direction: row;
    width: 100vw;

    border-top: 0.1rem solid grey;
  }

  .copyright {
    flex: 1;
    order: 1;
    text-align: left;
    font-size: 1rem;
    color: grey;

    padding: 0.1rem;
    margin-bottom: 1rem;
  }

  .logo1 {
    order: 3;
  }
  .logo1 img {
    margin-top: 1rem;
    padding: 0.2rem;
  }
  .social {
    order: 2;
    padding: 0.2rem;
  }
}
@media screen and (min-width: 1025px) {
  .foot {
    display: flex;
    flex-direction: row;
    width: 90vw;

    border-top: 0.1rem solid grey;
  }

  .copyright {
    flex: 1;
    order: 1;
    text-align: left;
    font-size: 1rem;
    color: grey;

    padding: 0.1rem;
    margin-bottom: 1rem;
  }

  .logo1 {
    order: 3;
  }
  .logo1 img {
    margin-top: 1rem;
    padding: 0.2rem;
    margin-right: 2vw;
  }
  .social {
    order: 2;
    padding: 0.2rem;
    margin-right: 2vw;
  }
}
