.signUp {
  margin: 3vw;
  margin-top: 3vh;
  background-color: #f6f8fb;
}
.signUpDescription {
  margin-bottom: 1rem;
  font-size: 0.95rem;
}
.newsletterH3 {
  padding-top: 3vh;
  margin-left: -2vw;
}

.input {
  font-size: 1rem;
  width: 93vw;
  padding: 1vh 2vw;
  border: 0.1rem solid rgb(238, 237, 237);
  border-radius: 0.3rem;
  margin-bottom: 1rem;
  margin-top: 1rem;
}

.signupButton {
  font-size: 1rem;
  text-align: center;
  padding: 1rem;
  background-color: #1071ff;
  border: #1071ff;
  border-radius: 2rem;
  width: 100%;
  color: white;
  font-weight: bold;
  margin-bottom: 1rem;
}

.check {
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: baseline;
  gap: 1rem;
  font-size: 0.9rem;
  margin-left: 2vw;
}

.blue {
  color: #1071ff;
}

@media screen and (min-width: 1025px) {
  .signUp {
    margin: 3vw;
    width: 22vw;
    margin-top: 3vh;
    background-color: #f6f8fb;
  }
  .signUpDescription {
    margin-bottom: 1rem;
    font-size: 1.01vw;
    margin-top: -5vh;
    margin-left: 0.5vw;
  }
  .newsletterH3 {
    padding-top: 0vh;
    margin-left: 0;
  }

  .input {
    padding-top: 1vh;
    padding-bottom: 1vh;
    background-color: white;
    width: 21vw;
    font-size: 1.3rem;
    padding-left: 1vw;
  }

  input[type="checkbox"] {
    width: 1vw;
    height: 2vh;
  }

  .signupButton {
    font-size: 1vw;
    text-align: center;
    padding: 2vh 2vw;
    background-color: #1071ff;
    border: #1071ff;
    border-radius: 3rem;
    width: 95%;
    color: white;
    font-weight: bold;
    margin-bottom: 1rem;
  }

  .check {
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: baseline;
    gap: 1rem;
    font-size: 1.1rem;
    margin-left: 2vw;
  }

  .blue {
    color: #1071ff;
  }
}
