.signUp {
  margin: 1rem;
  background-color: #f6f8fb;
}
.signUpDescription {
  margin-bottom: 1rem;
}

.input {
  border: 0.1rem solid rgb(201, 200, 200);
  border-radius: 0.3rem;
  margin-bottom: 1rem;
  margin-top: 1rem;
}

.signupButton {
  font-size: 1rem;
  text-align: center;
  padding: 1rem;
  background-color: rgba(34, 81, 236, 0.904);
  border: rgba(34, 81, 236, 0.904);
  border-radius: 1rem;
  width: 100%;
  color: white;
  font-weight: bold;
  margin-bottom: 1rem;
}

.check {
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: baseline;
  gap: 1rem;
}

.blue {
  color: rgba(34, 81, 236, 0.904);
}
