.signUp {
  margin: 15px;
}
.signUpDescription {
  margin-bottom: 10px;
}

.input {
  border: 1px solid rgb(201, 200, 200);
  border-radius: 10px;
  margin-bottom: 20px;
  margin-top: 20px;
}

.signupButton {
  font-size: 16px;
  text-align: center;
  padding: 20px;
  background-color: rgba(34, 81, 236, 0.904);
  border: rgba(34, 81, 236, 0.904);
  border-radius: 30px;
  width: 100%;
  color: white;
  font-weight: bold;
  margin-bottom: 10px;
}

.check {
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: baseline;
  gap: 10px;
}

.blue {
  color: rgba(34, 81, 236, 0.904);
}
