.sameBorder {
  border-top: 0.1rem solid rgb(240, 237, 237);
  border-bottom: 0.1rem solid rgb(235, 234, 234);
  padding: 1rem;
  width: 100%;
}

.drop {
  display: flex;

  justify-content: space-between;
  gap: 60vw;
  align-items: center;
  padding: 0.1rem;
  font-size: 1rem;
  cursor: pointer;
}

.items ul {
  list-style: none;
  padding: 0;
}

.items li {
  margin-top: 2vh;
  line-height: 5vh;
  white-space: normal;
  overflow: visible;
  font-size: 0.9rem;
}

.drop h4.active {
  color: rgba(34, 81, 236, 0.904);
}

@media screen and (min-width: 768px) {
  .drop {
    display: flex;
    justify-content: space-between;
    gap: 20vw;
    align-items: center;
    padding: 1rem;
    font-size: 1rem;
    cursor: pointer;
  }
}

@media screen and (min-width: 1025px) {
  .lapDrops {
    display: grid;
    grid-template-columns: repeat(4, 11vw);
    gap: 5vw;
    margin-left: 3vw;

    white-space: normal;
  }

  h4 {
    font-size: 1.2vw;
    margin-bottom: 0.5vh;
    white-space: normal;
  }

  .items ul {
    list-style: none;
    padding: 0;
  }

  .items li {
    margin-top: 2vh;
    line-height: 2vh;
    white-space: normal;
    overflow: visible;
    font-size: 1vw;
    font-weight: 700;
  }

  .drop h4.active {
    color: rgba(34, 81, 236, 0.904);
  }
}
