.search-container {
  width: 97vw;
  position: relative;
  display: flex;
  align-items: center;
  padding: 1rem;
  background-color: rgb(247, 247, 247);

  margin: 0.045em;
}

.search-icon {
  position: absolute;
  left: 1.5rem;
  font-size: 1rem;
  color: rgba(34, 81, 236, 0.904);
}

input {
  width: 100%;
  padding: 0.5rem 0.5rem 0.5rem 2.5rem;
  border: 0.1rem solid white;
  border-radius: 5px;
  font-size: 1rem;
}

input:focus {
  outline: none;
  border-color: blue;
}
