.ads {
  display: grid;
  grid-template-columns: 45vw 45vw;

  align-items: center;
  max-width: 95vw;

  margin-left: 2vw;
  padding: 10px;
  border-radius: 20px;
}

.adName {
  background-color: rgb(255, 123, 0);
  height: 100%;
  width: 50vw;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  color: white;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}
.adImg {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.adImg img {
  width: 100%;
  max-width: 45vw;
  height: auto;
  object-fit: contain; /* Ensures the image scales properly */
}

@media screen and (min-width: 768px) {
  .ad {
    margin-left: 2vw;
    max-width: 90vw;
  }
  .adName {
    background-color: rgb(255, 123, 0);
    height: 100%;
    width: 50vw;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    color: white;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
  }
  .adImg {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
  }

  .adImg img {
    width: 100%;
    max-width: 45vw;
    height: auto;
    object-fit: contain; /* Ensures the image scales properly */
  }
}

@media screen and (min-width: 1025px) {
  .ad {
    display: grid;
    grid-template-columns: repeat(3, 30vw);

    align-items: center;
    width: 85vw;
    gap: 1vw;
    margin-left: -1vw;
    border-radius: 1 rem;
  }

  .ads {
    display: grid;
    grid-template-columns: 14vw 14vw;

    align-items: left;
    width: 10vw;

    border-radius: 20rem;
  }

  .adName {
    background-color: rgb(255, 123, 0);
    height: 100%;
    width: 15vw;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    color: white;
    border-top-left-radius: 0.6rem;
    border-bottom-left-radius: 0.6rem;
  }
  .adImg {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
  }

  .adImg img {
    width: 15vw;
    height: 40vh;
    object-fit: cover; /* Ensures the image scales properly */
  }
}
