.ads {
  display: grid;
  grid-template-columns: 45vw 45vw;

  align-items: center;
  width: 100%;

  margin-left: 3vw;
  padding: 10px;
  border-radius: 20px;
}

.adName {
  background-color: rgb(255, 123, 0);
  height: 100%;
  width: 50vw;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  color: white;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}
.adImg {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.adImg img {
  width: 100%;
  max-width: 45vw;
  height: auto;
  object-fit: contain; /* Ensures the image scales properly */
}

@media screen and (min-width: 768px) {
  .adName {
    background-color: rgb(255, 123, 0);
    height: 100%;
    width: 50vw;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    color: white;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
  }
  .adImg {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
  }

  .adImg img {
    width: 100%;
    max-width: 45vw;
    height: auto;
    object-fit: contain; /* Ensures the image scales properly */
  }
}

@media screen and (min-width: 1025px) {
  .ad {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20vw, 1fr));

    align-items: center;
    width: 100%;

    margin: 0.6rem;
    margin-left: 1.2rem;
    margin-right: 2.4rem;

    padding: 0.6rem;
    border-radius: 1 rem;
  }

  .adName {
    background-color: rgb(255, 123, 0);
    height: 100%;
    width: 15vw;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    color: white;
    border-top-left-radius: 0.6rem;
    border-bottom-left-radius: 0.6rem;
  }
  .adImg {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
  }

  .adImg img {
    width: 100%;
    max-width: 15vw;
    height: auto;
    object-fit: contain; /* Ensures the image scales properly */
  }
}
