.bundles {
  display: grid;
  justify-content: center;
  align-items: center;
  gap: 0.8rem;
  margin-left: 0.5rem;
}

.bundleDetails {
  width: 90vw;
  background-color: rgba(34, 81, 236, 0.904);
  font-size: 1rem;
  color: white;
  padding: 1rem;
  border-radius: 1rem;
}

h2 {
  text-align: left;
  margin-bottom: 1rem;
}

.bundleDescription1 {
  margin-bottom: 1rem;
}
.buyBundle {
  display: flex;
  justify-self: center;
  padding: 0.8rem;
  border-radius: 1rem;
  color: rgba(34, 81, 236, 0.904);
  border: rgba(34, 81, 236, 0.904);
  font-size: 1rem;
  font-weight: bold;
  margin-top: 2rem;
  margin-bottom: 2rem;
}
.bundleImg {
  display: flex;
  justify-content: center;
  align-items: center;
}

.bundleImg img {
  width: 90vw;
  height: 35vh;
  object-fit: cover;
  border-radius: 1rem;
}

@media screen and (min-width: 768px) {
  .bundles {
    margin: 0.6rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-bottom: 1rem;
    align-items: center;
    justify-content: center;
  }

  .bundleImg {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 2rem;
  }

  .bundleImg img {
    width: 44vw;
    height: 40vh;
    object-fit: cover;
    border-radius: 1rem;
  }

  .bundleDetails {
    background-color: rgba(34, 81, 236, 0.904);
    font-size: 1rem;
    color: white;
    padding: 0.2rem;
    border-radius: 0.7rem;
    height: 40vh;
    width: 43vw;
    object-fit: cover;
  }

  .bundleDescription {
    color: white;
    margin-bottom: 1rem;
    margin-left: 1rem;
    font-size: 2rem;
    text-align: left;
    display: flex;
    justify-self: left;
  }

  .buyBundle {
    display: flex;
    justify-self: left;
    padding: 0.6rem;
    border-radius: 1rem;
    color: rgba(34, 81, 236, 0.904);
    border: rgba(34, 81, 236, 0.904);
    font-size: 1rem;
    font-weight: bold;
    margin-top: 0.6rem;
    margin-bottom: 2rem;
    margin-left: 0.1rem;
  }
}

@media screen and (min-width: 1025px) {
  .bundles {
    display: grid;
    grid-template-columns: 48vw 49vw;

    align-items: center;
    justify-content: center;
  }

  .bundleImg {
    display: flex;
    margin-left: 3vw;
    justify-content: left;
    align-items: left;
  }

  .bundleImg img {
    width: 44vw;
    height: 45vh;

    object-fit: cover;
    border-radius: 1rem;
  }

  .bundleDetails {
    background-color: rgba(34, 81, 236, 0.904);
    font-size: 2rem;
    color: white;
    padding: 2rem;
    border-radius: 10px;
    height: 45vh;
    width: 40vw;
    object-fit: cover;
  }

  .bundleDescription {
    color: white;
    margin-bottom: 1rem;
    font-size: 2rem;
    text-align: left;
    display: flex;
    justify-self: left;
  }
  .bundleDescription1 {
    margin-left: 2rem;
    font-size: 1rem;
  }
  .buyBundle {
    display: flex;
    justify-self: left;
    padding: 1rem;
    border-radius: 1rem;
    color: rgba(34, 81, 236, 0.904);
    border: rgba(34, 81, 236, 0.904);
    font-size: 1rem;
    font-weight: bold;
    margin-top: 2rem;
    margin-bottom: 2rem;
    margin-left: 2rem;
  }
}
