.bundles {
  display: grid;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-left: 10px;
}

.bundleDetails {
  background-color: rgba(34, 81, 236, 0.904);
  font-size: 20px;
  color: white;
  padding: 20px;
  border-radius: 10px;
}

h2 {
  text-align: left;
  margin-bottom: 20px;
}

.bundleDescription1 {
  margin-bottom: 20px;
}
.buyBundle {
  display: flex;
  justify-self: center;
  padding: 10px;
  border-radius: 20px;
  color: rgba(34, 81, 236, 0.904);
  border: rgba(34, 81, 236, 0.904);
  font-size: 16px;
  font-weight: bold;
  margin-top: 30px;
  margin-bottom: 30px;
}
