.bundles {
  display: grid;
  justify-content: center;
  align-items: center;
  gap: 0.8rem;
  margin-left: 0.5rem;
  margin-top: 5vh;
  margin-bottom: 5vh;
}

.bundleDetails {
  width: 90vw;
  background-color: #1071ff;
  font-size: 1rem;
  color: white;
  padding: 1rem;
  border-radius: 1rem;
}

.bundleDescription {
  text-align: left;
  color: white;
}
.bundleDescription1 {
  margin-bottom: 1rem;
  font-size: 1.2rem;
}
.buyBundle {
  display: flex;
  justify-self: center;
  padding: 0.8rem;
  border-radius: 1rem;
  color: #1071ff;
  border: #1071ff;
  font-size: 1rem;
  font-weight: bold;
  margin-top: 2rem;
  margin-bottom: 2rem;
}
.bundleImg {
  display: flex;
  justify-content: center;
  align-items: center;
}

.bundleImg img {
  width: 90vw;
  height: 35vh;
  object-fit: cover;
  border-radius: 1rem;
}

@media screen and (min-width: 768px) {
  .bundles {
    margin: 0.6rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-bottom: 1rem;
    align-items: center;
    justify-content: center;
  }

  .bundleImg {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 2rem;
  }

  .bundleImg img {
    width: 44vw;
    height: 40vh;
    object-fit: cover;
    border-radius: 1rem;
  }

  .bundleDetails {
    background-color: #1071ff;
    font-size: 1rem;
    color: white;
    padding: 0.2rem;
    border-radius: 0.7rem;
    height: 40vh;
    width: 43vw;
    object-fit: cover;
  }

  .bundleDescription {
    color: white;
    margin-bottom: 1rem;
    margin-left: 1rem;
    font-size: 2rem;
    text-align: left;
    display: flex;
    justify-self: left;
  }

  .buyBundle {
    display: flex;
    justify-self: left;
    padding: 0.6rem;
    border-radius: 1rem;
    color: #1071ff;
    border: #1071ff;
    font-size: 1rem;
    font-weight: bold;
    margin-top: 0.6rem;
    margin-bottom: 2rem;
    margin-left: 0.1rem;
  }
}

@media screen and (min-width: 1025px) {
  .bundles {
    display: grid;
    grid-template-columns: 49vw 49vw;

    align-items: center;
    justify-content: center;
    margin-top: 12vh;
    margin-bottom: 8vh;
  }

  .bundleImg {
    display: flex;

    justify-content: left;
    align-items: left;
  }

  .bundleImg img {
    width: 45vw;
    height: 45vh;
    margin-left: 2vw;
    object-fit: cover;
    border-radius: 1rem;
  }

  .bundleDetails {
    background-color: #1071ff;
    font-size: 3rem;
    color: white;
    padding: 2rem;
    border-radius: 10px;
    height: 45vh;
    width: 44vw;
    object-fit: cover;
  }

  .bundleDescription {
    color: white;
    margin-bottom: 1rem;
    font-size: 3rem;
    text-align: left;
    display: flex;
    justify-self: left;
    margin-top: 1vh;
    margin-left: 2vw;
  }
  .bundleDescription1 {
    margin-left: 2vw;
    font-size: 2rem;
    max-width: 25vw;
  }
  .buyBundle {
    display: flex;
    justify-self: left;
    padding: 2vh 2vw;
    border-radius: 3rem;
    color: #1071ff;
    border: #1071ff;
    font-size: 1.7rem;
    font-weight: bold;
    margin-top: 2rem;
    margin-bottom: 2rem;
    margin-left: 3rem;
  }
}
