.dpd {
  text-align: center;
  margin: 1rem;
  color: rgb(46, 40, 40);
  font-size: 1rem;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  background-color: #f6f8fb;
  padding: 1vh 2vw;
}
.layout {
  background-color: #f6f8fb;
}
h2 {
  text-align: center;

  color: black;
}

.showBtn {
  margin: 1.5rem;
  background-color: #1071ff;
  color: #f6f8fb;
  font-size: 1rem;
  padding: 0.8rem;
  padding-left: 2rem;
  padding-right: 2rem;
  border-radius: 2rem;
  border: #1071ff;
}

@media screen and (min-width: 768px) {
  .layout {
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: #f6f8fb;
    width: 98vw;
  }
  .dpd {
    text-align: left;
    margin-top: 0.6rem;

    padding-top: 0.6rem;

    color: rgb(46, 40, 40);
    font-size: 1rem;
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
      "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  }
  .dpdH2 {
    font-size: 2rem;
    text-align: left;
    margin: 1rem;
    color: black;
    margin-bottom: 2rem;
  }

  .dpd p {
    margin-left: 1.3rem;
    font-size: 1.3rem;
  }
  .showBtn {
    margin: 1.4rem;
    background-color: #1071ff;
    color: white;
    font-size: 1rem;
    padding: 1.4rem;
    padding-left: 2rem;
    padding-right: 2rem;
    border-radius: 2rem;
    border: #1071ff;
  }

  .dpdImg {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
  }
  .dpdImg img {
    width: 100%;
    max-width: 30rem;
    height: auto;
    object-fit: contain;
  }
}

@media screen and (min-width: 1025px) {
  .layout {
    display: grid;
    grid-template-columns: 40vw 40vw;
    gap: 10vw;
    margin-top: 5vw;

    margin-left: -3vw;
    width: 99vw;
    background-color: #f6f8fb;
  }
  .dpd {
    text-align: left;

    margin-left: 5vw;

    padding-top: 10vh;
    padding-bottom: 5vh;

    color: rgb(46, 40, 40);
    font-size: 2rem;
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
      "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  }
  .dpdH2 {
    font-size: 3rem;
    text-align: left;

    color: black;
    margin-bottom: 2rem;
  }

  .dpd p {
    margin-left: 1.2rem;
    font-size: 1.5rem;
  }
  .showBtn {
    margin: 1.4rem;
    background-color: #1071ff;
    color: white;
    font-size: 1;
    padding: 1.2rem;
    padding-left: 2rem;
    padding-right: 2rem;
    border-radius: 2rem;
    border: #1071ff;
  }

  .dpdImg {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
  }
  .dpdImg img {
    width: 100%;
    max-width: 40rem;
    height: auto;
    object-fit: contain;
  }
}
