h2 {
  margin-top: 3rem;
}

.events {
  margin-left: 0.2rem;
}

h3 {
  margin-top: 0.6rem;
  margin-bottom: 0.6rem;
  margin-right: 0.6rem;
}

.eventDateTime {
  color: rgba(34, 81, 236, 0.904);
  margin-top: 0.6rem;
  margin-bottom: 0.6rem;
}

.eventDescription {
  margin-right: 0.6rem;
  display: -webkit-box;
  -webkit-line-clamp: 3; /* Limit to 3 lines */
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: normal;
  font-size: 1.4rem;
  color: black;
  margin-bottom: 0.5rem;
}
.moreEvents {
  margin: 5px;
  border-color: rgba(34, 81, 236, 0.904);
  color: rgba(34, 81, 236, 0.904);
  font-size: 1rem;
  border-radius: 0.2rem;
  padding: 1rem;
  border-radius: 2rem;
  padding-left: 2rem;
  padding-right: 2rem;
  background-color: white;
  margin-bottom: 1.2rem;
}
.eventImg {
  display: flex;
  justify-content: left;
  align-items: left;
}

.eventImg img {
  width: 92vw;

  height: auto;
  object-fit: contain; /* Ensures the image scales properly */
}
@media screen and (min-width: 768px) {
  h2 {
    display: flex;
    margin-left: 2rem;
    font-size: 2rem;
    margin-top: 4rem;
    text-align: left;
  }
  .events {
    margin-left: 1rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-bottom: 1rem;
    gap: 0.1rem;
  }
  .eventImg {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .eventImg img {
    width: 45vw;

    height: auto;
    object-fit: contain; /* Ensures the image scales properly */
  }
}

@media screen and (min-width: 1025px) {
  h2 {
    display: flex;
    margin-left: 2.2rem;
    font-size: 2rem;
    margin-top: 4rem;
    text-align: left;
  }
  .events {
    margin-left: 1.2rem;
    display: grid;
    grid-template-columns: repeat(4, 20vw);
    margin-bottom: 1rem;
    gap: 3vw;
  }
  .eventImg {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .eventImg img {
    width: 20vw;

    height: auto;
    object-fit: contain; /* Ensures the image scales properly */
  }
}
