@media screen and (min-width: 1025px) {
  .flex {
    display: flex;
    flex-direction: row;
    width: 10vw;

    align-items: flex-start;
    justify-content: flex-start;
  }

  .showSmall {
    display: none;
  }
  .showBig {
    max-width: 10vw;
  }
  .recommend {
    max-width: 25vw;
  }
}
