@media screen and (min-width: 1025px) {
  .flex {
    display: flex;
    flex-direction: row;
    width: 10vw;

    align-items: flex-start;
    justify-content: flex-start;
  }

  .align {
    display: grid;

    max-width: 80vw;
    grid-template-columns: 50vw 25vw;
    gap: 21vw;
  }

  .showSmall {
    display: none;
  }
  .showBig {
    max-width: 10vw;
  }
  .recommend {
    max-width: 25vw;
  }
}

@media screen and (max-width: 1025px) {
  .showBig {
    display: none;
    max-width: 10vw;
  }
}
