@media screen and (min-width: 1025px) {
  .flex {
    display: flex;
    flex-direction: row;
    width: 100%;

    align-items: flex-start;
    justify-content: flex-start;
  }

  .align {
    display: grid;
    grid-template-columns: 50vw 15vw;
    gap: 30vw;
  }

  .showSmall {
    display: none;
  }
}

@media screen and (max-width: 1025px) {
  .showBig {
    display: none;
  }
}
