.hints {
  margin: 0.6rem;
  display: grid;
  grid-template-columns: 1fr;
  margin-bottom: 1rem;
}

.hintDescription {
  display: -webkit-box;
  -webkit-line-clamp: 3; /* Limit to 3 lines */
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: normal;
  font-size: 1rem;
  color: black;
}
.hintName {
  margin-top: 0.5rem;
  font-weight: bold;
  font-size: 1.2rem;
  margin-bottom: 0.2rem;
}
.moreHints {
  margin-top: 0.2rem;
  display: flex;
  color: rgba(34, 81, 236, 0.904);
  gap: 0.2rem;
}
.hintImg {
  display: flex;
  justify-content: center;
  align-items: center;
}

.hintImg img {
  width: 90vw;
  max-width: 40rem;
  height: auto;
  object-fit: contain; /* Ensures the image scales properly */
}

@media screen and (min-width: 768px) {
  .hints {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-bottom: 1rem;
    margin-left: 1rem;
    gap: 0.2rem;
  }

  .hintImg {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .hintImg img {
    width: 45vw;
    max-width: 40rem;
    height: auto;
    object-fit: contain; /* Ensures the image scales properly */
  }
}

@media screen and (min-width: 1025px) {
  .hints {
    margin-left: 1.8rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin-bottom: 1rem;
    gap: 0.2rem;
  }

  .hintImg {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .hintImg img {
    width: 20vw;
    max-width: 40rem;
    height: auto;
    object-fit: contain; /* Ensures the image scales properly */
  }
}
