.hints {
  margin: 0.6rem;
  display: grid;
  grid-template-columns: 1fr;
  margin-bottom: 1rem;
}

.hintDescription {
  display: -webkit-box;
  -webkit-line-clamp: 3; /* Limit to 3 lines */
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: normal;
  font-size: 1.1rem;
  color: black;
  margin-bottom: 2vh;
}
.expandHint {
  font-size: 1.6rem;
  padding-bottom: 1vh;
}

.hintName {
  margin-top: 0.5rem;
  font-weight: bold;
  font-size: 1.2rem;
  margin-bottom: 0.2rem;
  font-family: "BasierCircle";
}
.moreHints {
  margin-top: 0.2rem;
  display: flex;
  font-size: 0.8rem;
  font-weight: bold;
  color: #1071ff;
  gap: 0.2rem;
  cursor: pointer;
}
.hintImg {
  display: flex;
  justify-content: center;
  align-items: center;
}

.hintImg img {
  width: 90vw;
  max-width: 40rem;
  height: auto;
  object-fit: contain; /* Ensures the image scales properly */
}

@media screen and (min-width: 768px) {
  .hints {
    display: grid;
    grid-template-columns: repeat(2, 45vw);
    margin-bottom: 1rem;
    margin-left: 1rem;
    gap: 2vw;
    max-width: 97vw;
  }

  .hintImg {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .hintImg img {
    width: 45vw;
    max-width: 40rem;
    height: auto;
    object-fit: contain; /* Ensures the image scales properly */
  }
}

@media screen and (min-width: 1025px) {
  .hints {
    margin-left: 0.5vw;
    display: grid;
    grid-template-columns: repeat(4, 21vw);
    margin-bottom: 1vh;
    gap: 2vw;
  }
  .hintName {
    margin-top: 0.5rem;
    font-weight: bolder;
    font-size: 1.4vw;
    min-height: 8vh;
    margin-bottom: 1vh;
    padding-left: 0.5vw;
    padding-right: 1.5vw;
  }
  .hintDescription {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
    font-size: 1vw;
    color: black;
    padding-left: 0.5vw;
    padding-right: 1.5vw;
  }
  .hintDescription1 {
    text-overflow: ellipsis;
    white-space: normal;
    font-size: 1vw;
    color: black;
    padding-left: 0.5vw;
    padding-right: 1.5vw;
  }

  .hintImg {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .hintImg img {
    width: 21vw;
    max-width: 20vw;
    height: auto;
    object-fit: contain; /* Ensures the image scales properly */
  }
  .hintAlign {
    display: flex;
    justify-content: right;
    align-items: right;
    gap: 63vw;
    max-width: 87vw;
  }
  .expandHint {
    font-size: 1.8vw;
    padding-bottom: 1vh;
  }
  .moreHints {
    margin-top: 0.2rem;
    display: flex;
    font-size: 1vw;
    font-weight: bold;
    color: #1071ff;
    gap: 0.2rem;
    padding-left: 0.5vw;
    padding-right: 1.5vw;
    cursor: pointer;
  }
}
