* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

nav {
  background: white;
  padding: 10px 20px;
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  margin-top: 10px;
}

/* Hamburger menu on the left */
.ham {
  font-size: 24px;
  cursor: pointer;
  margin-right: 20px;
}

/* Logo centered */
.logo {
  flex: 1;
  display: flex;
  justify-content: center;
  font-size: 30px;
}

/* Cart on the right */
.cart {
  font-size: 24px;
  cursor: pointer;
  margin-left: 20px;
  color: rgba(34, 81, 236, 0.904);
}
.badge {
  position: absolute;
  top: 0px;
  right: 12px;
  color: white;
  padding: 3px 3px;
  border-radius: 50%;
  background-color: orangered;
  font-size: 12px;
  font-weight: bold;
}
