.container1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: auto;
  width: 80vw;
  text-align: center;
  background-color: rgba(34, 81, 236, 0.904);
  margin-top: 1.2rem;
  margin-left: 1.8rem;
  padding-top: 2rem;
  padding-bottom: 1.2rem;
  font-size: 2rem;
  color: white;
  font-weight: bold;
}

.img {
  margin-bottom: 0.6rem;
}
.discount {
  margin-bottom: 0.6rem;
}
.offerName {
  margin-bottom: 0.6rem;
}
.offerBtn {
  background-color: white;
  color: rgba(34, 81, 236, 0.904);
  border-radius: 1rem;
  padding: 0.6rem;
  font-weight: bold;
  border: rgba(34, 81, 236, 0.904);
}

@media screen and (min-width: 1025px) {
  .container1 {
    display: flex;
    flex-direction: row;
    justify-content: flex-start; /* Aligns items in a row */
    height: 40vh;
    width: 88vw;
    text-align: left;
    background-color: rgba(34, 81, 236, 0.904);

    padding: 2rem 1.2rem;
    font-size: 2rem;
    color: white;
    font-weight: bold;
    gap: 1.2rem;

    position: relative;
  }

  .offerImg img {
    width: 10vw;
    max-width: 20rem;
    height: auto;
    margin-left: 0.6rem;
    padding-left: 3rem;
  }

  .discount,
  .offerName,
  .offerBtn {
    flex-shrink: 0; /* Prevents items from shrinking */
  }

  .discount {
    position: absolute;
    left: 18rem;
    font-size: 6rem;
  }
  .offerName {
    position: absolute;
    left: 33rem;
    font-size: 3rem;
  }

  .offerBtn {
    background-color: white;
    color: rgba(34, 81, 236, 0.904);
    border-radius: 1.2rem;
    padding: 0.6rem 1.2rem;
    border: none;
    display: flex;
    position: absolute;
    right: 10rem;
    font-size: 1.2rem;
    top: 10rem;
  }
}
