.quickOrderButton {
  background-color: rgba(34, 81, 236, 0.904);
  border: rgba(34, 81, 236, 0.904);
  border-radius: 1px;
  padding: 1px;
}

.topFirstRow {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
