html {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 100vw;
  border: 1px solid red;
}

body {
  background-color: rgb(255, 251, 251);
  line-height: 1.5;
}

@media screen and (min-width: 1025px) {
  body {
    background-color: rgb(255, 251, 251);
    line-height: 1.5;
    margin-left: 3vw;
  }
}
